@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.header_top {
  background: #F1F5F8;
  border-bottom: 1px solid #D2DAE1;
  height: 40px;
  position: relative;
  z-index: 1;
}
.header_top .container {
  max-width: 1230px;
  width: 100%;
}
.main_menu {
  float: left;
}
.main_menu li {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.main_menu li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #6D757E;
  text-decoration: none;
  font-size: 17px;
}
.main_menu li:hover {
  background: #D4DDE3;
}
.main_menu li:hover a {
  border-bottom: 1px solid #6D757E;
}
.flag_block,
.social_block {
  float: right;
}
.soc_flag_container {
  float: right;
}
.flag_block {
  margin-left: 40px;
  line-height: 40px;
}
.social_block {
  margin-top: 8px;
}
.social_block a {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
}
.social_block a i {
  color: #D2DAE1;
  font-size: 18px;
  padding-top: 2px;
}
.header_bottom {
  font-family: 'Roboto', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-shadow: 0px 4px 14px #85898F;
  box-shadow: 0px 4px 14px #85898F;
}
.header_bottom .logo {
  float: left;
}
.header_bottom .container {
  max-width: 1230px;
  width: 100%;
}
.contact_block {
  float: left;
  max-width: 550px;
  margin-left: 155px;
}
.contact_block .email {
  color: #4C5867;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}
.contact_block .email:before {
  content: "";
  display: block;
  background: url('../img/mail.png') no-repeat center center;
  width: 17px;
  height: 12px;
  position: absolute;
  left: -30px;
  top: 5px;
}
.contact_block .time {
  color: #4C5867;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-left: 35px;
}
.contact_block .time:before {
  content: "";
  display: block;
  background: url('../img/watches.png') no-repeat center center;
  width: 13px;
  height: 20px;
  position: absolute;
  left: -20px;
  top: 1px;
}
.contact_block .phone {
  color: #4C5867;
  font-size: 36px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-left: -30px;
  margin-top: 10px;
}
.phone_block {
  max-width: 275px;
  height: 60px;
  background: #FFF5C8;
  float: right;
  border: 1px solid #FEEFAA;
  border-radius: 5px;
  padding-left: 22px;
  padding-top: 8px;
  margin-top: 8px;
  -webkit-box-shadow: 0px 3px 1px #F3F4F5;
  box-shadow: 0px 3px 1px #F3F4F5;
}
.phone_block .num {
  font-weight: 700;
  font-size: 12px;
  color: #4C5867;
  display: block;
}
.phone_block .num.v {
  position: relative;
}
.phone_block .num.v:before {
  content: "";
  display: block;
  background: url('../img/viber.png') no-repeat center center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -28px;
  top: -2px;
}
.phone_block .num.t {
  position: relative;
  top: 9px;
}
.phone_block .num.t:before {
  content: "";
  display: block;
  background: url('../img/tele.png') no-repeat center center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -27px;
  top: -3px;
}
.phone_block .num.w {
  position: relative;
  left: 12px;
}
.phone_block .num.w:before {
  content: "";
  display: block;
  background: url('../img/whatsup.png') no-repeat center center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -28px;
  top: -2px;
}
.phone_block .num.i {
  position: relative;
  left: 12px;
  top: 9px;
}
.phone_block .num.i:before {
  content: "";
  display: block;
  background: url('../img/icq.png') no-repeat center center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -27px;
  top: 0;
}
.login_block {
  float: right;
  max-width: 275px;
  width: 100%;
  padding-top: 18px;
}
.login_block .in {
  display: inline-block;
  background: #42B91C;
  color: #fff;
  max-width: 128px;
  width: 100%;
  text-align: center;
  height: 27px;
  line-height: 26px;
  border-radius: 2px;
  border-bottom: 2px solid #36A313;
  text-decoration: none;
  float: right;
  margin-left: 9px;
  font-weight: 500;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.login_block .in:hover {
  background: #5EE95E;
}
.login_block .reg {
  display: inline-block;
  background: #268FBD;
  color: #fff;
  max-width: 128px;
  width: 100%;
  text-align: center;
  height: 27px;
  line-height: 26px;
  border-radius: 2px;
  border-bottom: 2px solid #207DAB;
  text-decoration: none;
  float: right;
  margin-left: 9px;
  font-weight: 500;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.login_block .reg:hover {
  background: #5462AD;
}
.login_block .quest {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: #4C5867;
  text-align: center;
  margin-top: 40px;
}
.login_block .quest a {
  color: #4C5867;
}
.soc_flag_container .time {
  display: none;
}
.bonus {
  background: #FFF5C8;
  display: none;
  max-width: 240px;
  width: 100%;
  float: left;
  border: 1px solid #FEEFAA;
  border-radius: 3px;
  padding-left: 50px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 1px 2px #85898F;
  box-shadow: 0px 1px 2px #85898F;
  margin-left: 50px;
  margin-top: 16px;
}
.bonus .we_pay {
  display: block;
  color: #348B19;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}
.bonus .we_pay:before {
  content: "";
  background: url('../img/case.png') no-repeat center center;
  width: 35px;
  height: 38px;
  position: absolute;
  left: -40px;
  top: -3px;
}
.bonus .part {
  color: #4C5867;
  font-size: 12px;
  position: relative;
  top: -5px;
}
.bonus .want {
  color: #268FBD;
  font-size: 12px;
  text-decoration: underline;
  position: relative;
  top: -5px;
}
.bonus .item_2 .disc {
  display: block;
  position: relative;
  color: #4C5867;
}
.bonus .item_2 .disc:before {
  content: "";
  background: url('../img/circle.png') no-repeat center center;
  width: 35px;
  height: 36px;
  position: absolute;
  left: -40px;
  top: 0px;
}
.banner {
  background: url('../img/bgc.png') no-repeat center center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  padding-bottom: 42px;
}
.banner .container {
  max-width: 1230px;
  width: 100%;
}
.banner h6 {
  font-weight: 300;
  font-size: 34px;
  color: #4C5867;
  text-shadow: 1px 0px 0px #F5EFFF;
}
.banner .steps {
  list-style: none;
  margin-top: 12px;
  margin-bottom: 12px;
}
.banner .steps li {
  font-size: 14px;
  color: #4C5867;
  text-shadow: 1px 0px 0px #F5EFFF;
}
.converter {
  max-width: 645px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #D2DAE1;
  border-radius: 5px;
  padding: 15px 25px 30px 25px;
}
.converter .give {
  width: 100%;
  position: relative;
  font-size: 18px;
  color: #4C5867;
  font-weight: 400;
}
.converter .give input {
  max-width: 315px;
  width: 150%;
  height: 50px;
  border: 2px solid #B1B7C9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
}
.converter .give input::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  color: #4C5867;
  font-size: 16px;
}
.converter .give input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  color: #4C5867;
  font-size: 16px;
}
.converter .give input:-ms-input-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  color: #4C5867;
  font-size: 16px;
}
.converter .give .sel {
  position: relative;
}
.converter .give .sel:before {
  content: "";
  background: url('../img/pm.png') no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  right: 80px;
  top: -5px;
  z-index: 2;
}
.converter .give select {
  height: 50px;
  width: 115px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 2px solid #B1B7C9;
  border-left: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url('../img/select_arrow.png') no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding-left: 45px;
  position: relative;
  left: -6px;
  top: -1px;
}
.converter .give select option {
  color: #586370;
  background: #fff;
  border: 1px solid #B1B7C9;
  height: 30px;
  padding-left: 25px;
}
.converter .give.rub .sel {
  position: relative;
}
.converter .give.rub .sel:before {
  content: "";
  background: url('../img/a.png') no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  right: 80px;
  top: -5px;
  z-index: 2;
}
.converter .give.mb {
  margin-bottom: 15px;
}
.select_box {
  position: absolute;
  border-left: 1px solid #ECECEC;
  background: #fff;
  height: 43px;
  width: 114px;
  right: 27px;
  top: 28px;
  cursor: pointer;
  z-index: 1;
}
.select_box .curr {
  font-weight: 500;
  font-size: 18px;
  color: #4C5867;
  position: relative;
  right: -50px;
  top: 9px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select_box .curr:after {
  content: "";
  background: url('../img/select_arrow.png') no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  right: -28px;
  top: -2px;
  z-index: 2;
}
.select_box .curr:before {
  content: "";
  background: url('../img/pm.png') no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  left: -40px;
  top: -5px;
  z-index: 2;
}
.select_box .curr.rub:before {
  content: "";
  background: url('../img/a.png') no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  left: -40px;
  top: -5px;
  z-index: 2;
}
.dropped {
  width: 114px;
  height: 0px;
  background: #fff;
  position: absolute;
  right: 27px;
  z-index: 200;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.dropped li {
  list-style: none;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #B1B7C9;
}
.dropped.js {
  height: 52px;
  border: 1px solid #B1B7C9;
  border-top: none;
}
.equal_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.inf {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 10px;
}
.inf .limit {
  font-size: 16px;
  color: #586370;
  display: block;
}
.inf a {
  text-decoration: none;
  color: #5DBD66;
  position: relative;
  margin-left: 30px;
}
.inf a:before {
  content: "";
  background: url('../img/arr-r.png') no-repeat center center;
  display: block;
  width: 5px;
  height: 9px;
  position: absolute;
  left: -10px;
  top: 5px;
}
.form_bl {
  -webkit-flex-basis: 340px;
  -ms-flex-preferred-size: 340px;
  flex-basis: 340px;
}
.butt {
  display: inline-block;
  background: #42B91C;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #36A213;
  margin-top: 30px;
  border-radius: 5px;
}
.butt span {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  position: relative;
}
.butt span:before {
  content: "";
  background: url('../img/lb.png') no-repeat center center;
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: -35px;
  top: 0;
}
.butt:hover {
  text-decoration: none;
}
.online {
  border: 1px solid #D2DAE1;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 270px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  margin-bottom: 35px;
}
.online .clock {
  float: left;
}
.online .online_info {
  margin-left: 85px;
}
.online .online_info .cur_time {
  font-weight: 500;
  color: #4C5867;
  font-size: 12px;
  display: block;
}
.online .online_info .oper {
  font-weight: 300;
  color: #4C5867;
  font-size: 18px;
  display: block;
}
.online .online_info .write {
  color: #0085B8;
  position: relative;
  margin-left: 25px;
}
.online .online_info .write:before {
  content: "";
  background: url('../img/mail.png') no-repeat center center;
  display: block;
  width: 17px;
  height: 12px;
  position: absolute;
  left: -25px;
  top: 3px;
}
.earn_block {
  border: 1px solid #D2DAE1;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 270px;
  width: 100%;
  padding: 18px 18px 10px 18px;
  float: right;
  color: #4C5867;
}
.earn_block img {
  float: left;
}
.earn_block .earn_block_wrapper {
  margin-left: 85px;
}
.earn_block .earn {
  display: block;
  font-size: 21px;
  font-weight: 300;
}
.earn_block .together {
  font-weight: 500;
  font-size: 12px;
}
.earn_block .info {
  font-weight: 700;
  text-align: center;
  display: block;
}
.earn_block .program {
  display: inline-block;
  background: #268FBD;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #207CA9;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: relative;
}
.earn_block .program:before {
  content: "";
  background: url('../img/arr-r.png') no-repeat center center;
  display: block;
  width: 5px;
  height: 9px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.exchange_block {
  color: #4C5867;
  float: right;
  max-width: 270px;
  width: 100%;
  margin-top: 10px;
}
.exchange_block .exchange_heading {
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  border-bottom: 1px solid #4C5867;
}
.exchange_block .date {
  font-size: 14px;
  color: #0085B8;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}
.exchange_block .ru,
.exchange_block .us {
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid #4C5867;
  position: relative;
}
.exchange_block .ru {
  margin-left: 30px;
  margin-right: 30px;
}
.exchange_block .ru:before {
  content: "";
  background: url('../img/book.png') no-repeat center center;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: 0;
}
.exchange_block .us {
  margin-left: 30px;
}
.exchange_block .us:before {
  content: "";
  background: url('../img/usd.png') no-repeat center center;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: 0;
}
.mobile_select {
  display: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url('../img/arr-d.png') no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  position: relative;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 700;
  margin-left: 42px;
  cursor: pointer;
  margin-top: 5px;
}
.sandwich {
  max-width: 25px;
  width: 100%;
  float: left;
  margin-top: 7px;
  display: none;
}
.sandwich span {
  display: block;
  width: 100%;
  height: 3px;
  background: #979797;
  margin-bottom: 4px;
}
.sandwich span:last-child {
  margin-bottom: 0;
}
.mobile_phone,
.mobile_exchange,
.soc_mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .soc_flag_container .time {
    display: none;
  }
  .main_menu {
    display: none;
    position: absolute;
    top: 32px;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: rgba(59, 175, 218, 0.9);
    text-align: center;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .main_menu li {
    display: block;
  }
  .main_menu li a {
    color: #fff;
    display: block;
  }
  .main_menu.js {
    display: block;
  }
  .sandwich {
    display: block;
    cursor: pointer;
  }
  .mobile_select {
    display: inline-block;
  }
  .social_block {
    display: none;
  }
  .header_top {
    height: 32px;
  }
  .flag_block {
    line-height: 30px;
  }
  .header_bottom .logo {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .contact_block,
  .login_block {
    display: none;
  }
  .soc_mobile {
    display: block;
    text-align: center;
  }
  .soc_mobile img {
    margin-left: 3px;
    margin-right: 3px;
  }
  .converter .give .sel::before {
    z-index: 0;
  }
  .header_bottom {
    padding-top: 13px;
    padding-bottom: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #D2DAE1;
  }
  .mobile_phone {
    display: block;
    font-size: 36px;
    font-weight: 300;
    color: #4C5867;
    text-align: center;
  }
  .info_block,
  .banner .steps {
    display: none;
  }
  .banner h6 {
    display: none;
  }
  .mobile_exchange {
    display: block;
    font-weight: 500;
    font-size: 24px;
    color: #4C5867;
    text-align: center;
  }
  .banner {
    background: none;
    padding-top: 0;
  }
  .banner .col-lg-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .converter {
    background: #EBF1F4;
    max-width: none;
    border-radius: 0px;
    padding-bottom: 25px;
  }
  .equal_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  .converter .give select {
    width: 65px;
    padding-left: 0;
  }
  .converter .give input {
    max-width: none;
    width: 100%;
  }
  .converter .give {
    width: 100%;
  }
  .converter .give .sel {
    position: absolute !important;
    right: -5px;
    top: 26px;
  }
  .converter .give .sel::before {
    top: 8px;
  }
  .converter .give .sel.sel_2 {
    top: 25px;
  }
  .converter .give.rub .sel.sel_2::before {
    top: 8px;
  }
  .inf a {
    display: none;
  }
  .inf {
    display: block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    margin-top: 4px;
  }
  .form_bl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
  .butt {
    margin-top: 0;
  }
  .select_box {
    right: 2px;
  }
  .dropped {
    right: 2px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .header_top {
    height: auto;
  }
  .flex_order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main_menu {
    float: none;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: center;
  }
  .main_menu li a {
    font-size: 14px;
  }
  .contact_block {
    display: none;
  }
  .soc_flag_container .time {
    display: block;
    color: #4C5867;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    margin-left: 35px;
    margin-top: 10px;
  }
  .soc_flag_container .time:before {
    content: "";
    display: block;
    background: url('../img/watches.png') no-repeat center center;
    width: 13px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 1px;
  }
  .login_block {
    max-width: 180px;
  }
  .login_block .reg,
  .login_block .in {
    margin-bottom: 13px;
  }
  .bonus {
    display: block;
  }
  .logo {
    margin-top: 20px;
  }
  .header_bottom {
    padding-bottom: 30px;
  }
  .banner h6 {
    text-align: center;
    margin-bottom: 24px;
  }
  .banner .steps {
    display: none;
  }
  .converter {
    margin: 0 auto;
  }
  .info_block {
    display: none;
  }
}
@media (min-width: 990px) and (max-width: 1100px) {
  .contact_block {
    float: right;
  }
  .login_block {
    float: none;
    margin: 0 auto;
  }
  .main_menu li a {
    font-size: 14px;
  }
  .form_bl {
    -webkit-flex-basis: 460px;
    -ms-flex-preferred-size: 460px;
    flex-basis: 460px;
  }
  .converter .give {
    width: 90%;
  }
  .converter .give input {
    max-width: 355px;
    width: 100%;
  }
  .select_box,
  .dropped {
    right: 3px;
  }
  .form_bl {
    -webkit-flex-basis: 270px;
    -ms-flex-preferred-size: 270px;
    flex-basis: 270px;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .contact_block {
    margin-left: 55px;
  }
  .main_menu li a {
    font-size: 14px;
  }
  .form_bl {
    -webkit-flex-basis: 330px;
    -ms-flex-preferred-size: 330px;
    flex-basis: 330px;
  }
  .select_box {
    right: 20px;
  }
}
